#map {
  height: 1024px;
}

.pixel-perfect .leaflet-image-layer,
.pixel-perfect .leaflet-tile {
  image-rendering: pixelated;
}

.leaflet-tile {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

